
#todo {
    position: absolute;
    width: 100%;    
    min-height: 100%;
    top: 0;
    left: 0;
}

#barraTop 
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100% !important;
    height: 50px;
    min-height: 50px !important;
    overflow: hidden;
    background-color: #505050;
}

.nombreReg 
{
    margin-top: 5px;
    background-color: transparent;
    color: white;
    font-weight: 500;
    font-size: 18px;
    overflow: hidden;
    white-space: normal;
    min-height: 34px !important;
    height: 34px !important;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
    border-bottom-width: 1px;
    margin-bottom: 3px !important;
}

.verTarjetas
{
    display: flex;
    flex-wrap: wrap;
    margin-top: 55px;
    margin-bottom: 45px;
    
}

.example-spacer {
    flex: 1 1 auto;
    text-align: left;
    font-size: 30px !important;
    color: #EEEEEE;
    margin: 10px !important;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

.tarjeta 
{
    margin: 5px;
    width: 380px !important;
    height: 132px !important;
    border-color: white;
    border-style: solid !important;
    border-width: 1px !important;
    border-radius: 4px 16px !important;
    background-color: #757575;
}

.tarjetaTotal 
{
    flex: 1;
    display: flex;
    flex-direction: row;
    width: 100% !important;
    height: 100% !important;
    align-content: flex-start;
}

.tarjetaIcon 
{
    flex: 1;
    margin-left: -20px;

}




.itemIcon 
{
    height: 128px;
    width: 128px;
    padding-left: 5px;
    padding-right: 5px;
}

.tarjetaDatos 
{
    display: flex;
    flex-direction: column;
    flex: 8;
    text-align: left !important;
    color: #EEEEEE;
    font-size: 15px;
    line-height: 17px;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}


.botonSup
{
    min-width: 240px !important;
    padding-right: 10px;
    margin: 0px;
    background-color: #BBBBBB;
    cursor: pointer !important;
    font-size: 20px;

}

.iconoSup
  {
    margin-left: -10px !important;
    margin-top: -4px !important;
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
  }


.tarjetaTabla 
{
    display: flex;
    flex: 1;
    justify-content: space-between !important;
}


.titulo
{
    font-size: 13px;
    color: #CCCCCC;
}


.iconoMail
{
    padding: 0px !important;
    cursor: pointer;
    width: 32px !important;
    height: 32px !important;
    margin-top: -5px !important;
  }

  .botonBuscar 
{
    min-width: 50px !important;
    padding: 0;
    margin-left: 5px;
    background-color: #404040;
    border-color: white !important;
    cursor: pointer !important;

}

::ng-deep .mat-form-field-empty.mat-form-field-label {
    color: #CCCCCC;
    font-size: 10px !important;
  }
  
  ::ng-deep .mat-form-field-underline {
    color: #CCCCCC;
    font-size: 10px !important;
  }

  .buscador
  {
    margin-top: -10px !important;
    font-size: 16px !important;
    min-height: 30px;
    height: 30px;
    color: #CCCCCC;

  }
  
  .buscadorCaja
  {
    margin-top: -10px !important;
    margin-left: 10px !important;
  }

  .iconoIna 
  {
   position: absolute;
   top: 0;
   left: 0;
   margin-top: 2px;
   margin-left: 2px;
   width: 16px !important;
  } 

.equipoEFI
{
  padding-bottom: 10px !important;
  background-color: #454545;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 8px 8px !important;
  border-color:  #AAAAAA;
  
  flex: 1;    
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-right: 10px;
  min-width: 350px !important;
  max-width: 350px !important;
  margin-top: 20px;
  animation-duration: 0.6s;
  animation-name: agregarCaja;
  animation-iteration-count: 1;
}

.cajaGeneral0
{
  display: flex;
  margin: 5px;
  width: 325px !important;
  margin-left: 10px !important;
}

.cajaGeneral
{
  display: flex;
  flex-direction: row;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 4px 4px !important;
  min-width: 315px !important;
  max-width: 315px !important;
  text-align: left;
  max-height: 45px;
  min-height: 45px;
  margin-left: 5px;
  margin-top: -10px !important;
  padding: 5px;
  margin-left: 10px !important;
}


.cajaTitulo11
{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.1);
  min-width: 180px !important;
  max-width: 180px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 4px 4px !important;
  border-color:  #606060;
  text-align: left;
  max-height: 45px;
  min-height: 45px;
  padding: 5px !important;
}

.cajaTitulo12
{
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.2);
  min-width: 118px !important;
  max-width: 118px !important;
  border-style: solid !important;
  border-width: 1px !important;
  border-radius: 4px 4px !important;
  border-color:  #606060;
  text-align: left;
  max-height: 45px;
  min-height: 45px;
  margin-left: 8px !important ;
  padding: 5px;
  position: relative;
}

.valorF
{
  color: tomato;
  font-size: 20px;
  font-weight: 500;
  margin-top: 6px;
}

.valorF2
{
  color: #EEEEEE;
  font-size: 20px !important;
  font-weight: 450;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 3px;
}

.valorF3
{
  color: #EEEEEE;
  font-size: 17px !important;
  font-weight: 450;
  overflow: hidden;
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis;
  min-height: 38px; 
  max-height: 38px; 
  margin-top: 3px;
}

.valorF4
{
  color: #EEEEEE;
  font-size: 15px !important;
  font-weight: 450;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  min-height: 17px; 
  max-height: 17px; 
  margin-top: 1px;
}


.titulo
{
  color: #CCCCCC;
  font-size: 15px;
  margin-top: -3px;
}

.cajaGeneral1
{
  display: flex;
  flex-direction: column;
  min-width: 315px !important;
  max-width: 315px !important;
  text-align: left;
  max-height: 70px;
  min-height: 70px;
  margin-left: 5px;
  padding: 5px;
  margin-left: 10px !important;
}

.cajaGeneral2
{
  display: flex;
  flex-direction: column;
  min-width: 315px !important;
  max-width: 315px !important;
  text-align: left;
  max-height: 20px;
  min-height: 20px;
  margin-left: 5px;
  padding: 2px;
  margin-left: 10px !important;
}

.cajaTitulo3
{
  display: flex;
  flex-direction: column;
  text-align: left;
  max-height: 45px;
  min-height: 45px;
  max-width: 105px;
  min-width: 105px;
  padding: 5px;
}

.escalado
{
  background-color: tomato;
  font-size: 12px;
  
  color: #303030;
  position: fixed;
  min-width: 24px;
  max-width: 24px;
  margin-left: 96px !important;
  font-size: 14px !important;
  font-weight: 550 !important;
  text-align: center;
  animation-duration: 0.5s;
  animation-name: swing;
  animation-iteration-count: 1;

}

@-webkit-keyframes swing
{
  0%
  {
    height: 5px;
    background-color: #303030;
  -webkit-transform: translateY(15);
  transform: translateY(15px);
  opacity: 0;
  }
  65%
  {
  -webkit-transform: translateY(2);
  transform: translateY(2px);
  opacity: 0.75;
  }
  100%
  {
  opacity: 1;
  }
}

@-webkit-keyframes agregarCaja
{
  0%
  {
  -webkit-transform: translateY(15);
  transform: translateY(15px);
  opacity: 0;
  }
}