/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url( 'https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');

::-webkit-scrollbar {
    width: 18px;
    height: 12px;
}

::-webkit-scrollbar-button {
    background: rgba(3,90,161,0.1) !important;
    border-style: solid !important;
    border-width: 2px !important;
    border-color: #404040 !important;

}
::-webkit-scrollbar-track-piece {
    background:whitesmoke;
}

::-webkit-scrollbar-thumb {
    background: #CCCCCC;
}
